* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo h1 {
    margin-left: 20px;
}

header nav ul {
    list-style: none;
    display: flex;
    margin-right: 20px;
}

header nav ul li {
    margin-left: 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}

section {
    padding: 20px;
}

#home .intro {
    text-align: center;
    margin-top: 50px;
}

#products {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.product {
    width: 30%;
    margin: 10px;
    text-align: center;
}

.product img {
    width: 100%;
    height: auto;
}

button.add-to-cart {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button.add-to-cart:hover {
    background-color: #45a049;
}

#cart {
    margin-top: 50px;
}

footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
